.draggable {
	cursor: pointer;
	background-color: rgb(32, 32, 32);
	width: 50px;
	height: 50px;
	color: white;
	z-index: 40;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius:10px;
}

.draggable img {
	width: 100%;
	user-select: none;
	pointer-events: none;
}

.draggable.disabled {
	background-color: rgb(175, 175, 175);
	cursor: not-allowed;
}

.draggable.inStack {
	cursor: default;
}

.draggable .number {
	background-color: rgb(175, 175, 175);
	border-radius: 50%;
	position: absolute;
	top: -7px;
	right: -7px;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	pointer-events: none;
	font-size: 14px;
	color: white;
}

.draggable.disabled .number {
	display: none;
}

.draggable .delete {
	background-color: #e03838;
	border-radius: 50%;
	position: absolute;
	top: -10;
	right: -10;
	width: 25px;
	height: 25px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: none;
	color: white;
}

.draggable:last-child {
	margin-right: 0;
}

.draggable:hover .delete {
	display: flex;
}

#levelComplete,
#endMenu {
	display: none;
}